/*body styles*/
html,
body {
  background-image: url("https://thefulldomeblog.files.wordpress.com/2013/06/cropped-starglobe-maya-render.jpg");
  height: 100%;
  width: 100%; }

/*content display area*/
.content-display {
  margin: 0;
  background-color: #f7f6f6; }
  @media screen and (min-width: 992px) {
    .content-display {
      margin: 0 5%;
      padding: 0;
      border-left: 3px solid #706e6e;
      border-right: 3px solid #706e6e; } }

/* title section*/
.site-title {
  text-align: center;
  background-color: #b7cee8;
  padding: 1% 0;
  border-top: 3px solid #706e6e; }
  .site-title h1 {
    color: #706e6e;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; }
  @media screen and (min-width: 600px) {
    .site-title h1 {
      font-size: 18px; } }
  @media screen and (min-width: 768px) {
    .site-title h1 {
      font-size: 22px; } }
  @media screen and (min-width: 992px) {
    .site-title h1 {
      font-size: 30px; } }
  @media screen and (min-width: 1200px) {
    .site-title h1 {
      font-size: 35px; } }

/*search input*/
.search-date-input {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 2% 0 0 0;
  background-color: #f7f6f6; }
  .search-date-input p {
    text-align: justify;
    margin: 0 3% 2% 3%;
    font-size: 12px; }
  .search-date-input span {
    font-weight: bold;
    font-size: 12px; }
  .search-date-input input {
    text-align: center;
    padding: 0.18% 0.2%;
    margin: 1.5% 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #706e6e;
    font-size: 12px;
    display: block; }
  .search-date-input button {
    background-color: #b7cee8;
    width: 30%;
    margin-left: 1.5%;
    margin-bottom: 2%;
    border: 1px solid #706e6e;
    color: #706e6e;
    font-size: 12px; }
  @media screen and (min-width: 600px) {
    .search-date-input input {
      display: inline-block;
      margin-left: 2%;
      margin-right: 8%;
      margin-bottom: 2%; } }
  @media screen and (min-width: 768px) {
    .search-date-input p {
      font-size: 18px; }
    .search-date-input span {
      font-size: 20px; }
    .search-date-input input {
      font-size: 18px;
      display: inline-block;
      margin-left: 2%;
      margin-right: 8%;
      margin-bottom: 2%; }
    .search-date-input button {
      font-size: 18px; } }
  @media screen and (min-width: 992px) {
    .search-date-input p {
      font-size: 18px; }
    .search-date-input span {
      font-size: 20px; }
    .search-date-input input {
      font-size: 18px; }
    .search-date-input button {
      font-size: 20px; } }
  @media screen and (min-width: 1200px) {
    .search-date-input p {
      font-size: 20px; }
    .search-date-input span {
      font-size: 22px; }
    .search-date-input input {
      font-size: 20px; }
    .search-date-input button {
      font-size: 22px; } }

#neo-feed {
  text-decoration: none; }

.calendar-background {
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid black; }

/*data output*/
.data-summary {
  text-align: center;
  padding: 1% 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

.data-output {
  font-family: 'Roboto', sans-serif;
  border-top: 3px solid #bcc1c7;
  background-color: #fafafa; }

.data-plot {
  text-align: center;
  padding-bottom: 2%; }
  .data-plot h5 {
    padding: 20px 0 30px 0;
    line-height: 1.5;
    font-size: 20px; }

/*#close-approaches-per-day {padding-left: 70px}*/
#neo-count,
#close-approach-plot,
#estimated-diameter-stack {
  width: 100%; }
  #neo-count svg g .axis.x .tick text,
  #close-approach-plot svg g .axis.x .tick text,
  #estimated-diameter-stack svg g .axis.x .tick text {
    text-anchor: end !important;
    transform: rotate(-40deg);
    margin-top: 200px; }

#potential-hazard {
  margin-top: -50px;
  float: none; }

.data-border-left {
  border-left: 3px solid #bcc1c7; }

#approach-distance .dc-legend {
  margin-top: 10px; }

.data-table {
  width: 100%; }

#neo_data_table {
  border-top: 3px solid #bcc1c7;
  border-bottom: 3px solid #bcc1c7;
  text-align: center;
  font-size: 13px; }

.data-plot-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #b7cee8; }
  .data-plot-title h3 {
    font-size: 25px;
    padding: 10px 0 8px 0;
    color: #706e6e;
    margin-bottom: 0; }

.data-hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
